:root {
    --color-primary: #33343D;
}

html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #769599;
}

.todo-app {
    padding: 1em;
}

.app-title {
    text-align: center;
    color: var(--color-primary);
    font-size: 2em;
}

.todo-list {
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #697B78;
    padding: .5em;
    margin-bottom: .9em;
    border-radius: 30px;
    color: rgb(221, 212, 150);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: 2ms;
    opacity: 0;
    animation: new-item-animation .3s linear forwards;
}

li.removed-item {
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    transform-origin: 0% 100%;
}

[data-market="true"] {
    background-color: ;
}

.delete-button {
    background: none;
    border: none;
}

.task-adder {
    margin-top: 2.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
    padding-bottom: .4em;
}

.task-input {
    border: none;
    font-size: 16px;
    background-color: transparent;
    outline: none;
}

.task-input::placeholder {
    color: rgb(63, 107, 100);
}

.market-option-container {
    display: flex;
    align-items: center;
}

.checkbox-label {
    color: var(--color-primary);
    font-weight: bold;
}

.category-select {
	color: rgb(221, 212, 150);
}

.category-select option {
	background-color: green;
}

.add-button {
    padding: 0;
    width: 2em;
    height: 2em;
    font-weight: bold;
    font-size: 15px;
    background-color: #acacac;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.modal {
}

.modal-backdrop {
	background-color: black;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	opacity: .7;
}

.modal-content {
	background-color: white;
	width: 12em;
	height: 15em;
	position: absolute;
	left: calc(50% - 6.5em);
	top: calc(50% - 9em);
	border-radius: 1.2em;
	padding: 1em 1em;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: flex-start;
}

.modal-title {
	margin: 0;
}

.close-btn {
	font-size: 16px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	width: 40px;
	height: 40px;
}

.modal-body {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.modal-body div {
	display: flex;
	flex-direction: column;
}

#category-name-input {
	border: 1px solid grey;
	border-radius: 12px;
	padding: .4em;
}

#category-color-input {
	border-radius: 40px;
	width: 25px;
	height: 25px;
	display: block;
}

.modal-footer {
	align-self: flex-end;
	display: flex;
	justify-content: flex-end;
}

.modal-footer button {
	background-color: #acacac;
	border-radius: 30px;
	padding: .6em;
	color: white;
	border: none;
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(-400px);
}

    to {
        opacity: 1;
        transform : translateY(0);
    }
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
}

    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}
