html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #769599;
}

.todo-app {
    padding: 1em;
}

.app-title {
    text-align: center;
    color: #33343D;
    font-size: 2em;
}

.todo-list {
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #697B78;
    padding: .5em;
    margin-bottom: .9em;
    border-radius: 30px;
    color: rgb(221, 212, 150);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

[data-market="true"] {
    background-color: #33343D;
}

.delete-button {
    background: none;
    border: none;
}

.task-adder {
    margin-top: 2.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #33343D;
    padding-bottom: .4em;
}

.task-input {
    border: none;
    font-size: 16px;
    background-color: transparent;
    outline: none;
}

.task-input::placeholder {
    color: rgb(63, 107, 100);
}

.market-option-container {
    display: flex;
    align-items: center;
}

.checkbox-label {
    color: #33343D;
    font-weight: bold;
}

.add-button {
    padding: 0;
    width: 2em;
    height: 2em;
    font-weight: bold;
    font-size: 15px;
    background-color: #acacac;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}